{% extends 'base.html' %}

{% block content %}
<h2>计算糖蛋白质组学：软件与算法、机遇与挑战</h2>
<h3>计算糖蛋白质组学作品云上分享会</h3>
<h4>First Session</h4>
<p>Nov. 26, 2021 20:00 (UTC+8)</p>
<p>Zoom Meeting ID：<a href="https://mpi-biochemistry.zoom.us/j/96712248816">967 1224 8816</a></p>
{{ items.shenjiechen }}
{{ items.yangyi }}

<h4>Second Session</h4>
<p>Dec. 2, 2021 08:00 (UTC+8)</p>
<p>Zoom Meeting ID：<a href="https://mpi-biochemistry.zoom.us/j/95355893407">953 5589 3407</a></p>
{{ items.danielpolasky }}
{{ items.lulei }}
{{ items.fangpan }}

<h4>Third Session</h4>
<p>Dec. 10, 2021 20:00 (UTC+8)</p>
<p>Zoom Meeting ID：<a href="https://mpi-biochemistry.zoom.us/j/98677496425">986 7749 6425</a></p>
{{ items.zhuhe }}
{{ items.zengwenfeng }}
{{ items.qiujihui }}
{% endblock %}
