<section class="speaker" id="{{ talk.id }}">
    <div class="bio">
        <img src="/doc/photo/{{ talk.id }}.png"/>
        <div class="name">{{ talk.name }}</div>
        <div class="affiliation">{{ talk.affiliation }}</div>
        <div class="links">
            <a href="{{ talk.url }}">简介</a>
            {% if talk.slides %}
            <span> | </span>
            <a href="{{ talk.slides }}">幻灯片</a>
            {% endif %}
            {% if talk.video %}
            <span> | </span>
            <a href="{{ talk.video }}">视频</a>
            {% endif %}
        </div>
    </div>
    <div class="talk">
        {% if talk.title %}
        <h3>{{ talk.title }}</h3>
        {% endif %}
        {% if talk.abstract %}
        <h4>Abstract:</h4>
        {{ talk.abstract }}
        {% endif %}
        {% if talk.keywords %}
        <h4>Keywords:</h4>
        {{ talk.keywords }}
        {% endif %}
    </div>
</section>