{% extends 'base.html' %}

{% block content %}
<h2>关于会议</h2>
<p>随着蛋白质组学的兴起，特别是质谱技术的快速发展，蛋白质组学研究中产生的数据规模越来越大。依靠简单的手工处理已经远远不能满足问题的需求，通过先进的计算机算法与软件工具来自动处理大批量的蛋白质组数据已经成为蛋白质组学研究的重要分支，这就是“计算蛋白质组学”(Computational Proteomics)。</p>
<p>“计算蛋白质组学”是以计算技术为主要手段，通过开发高效的算法和实用的软件工具来处理大规模蛋白质实验数据，解决蛋白质组学研究中的蛋白质鉴定、翻译后修饰分析、蛋白质定量、蛋白质相互作用、蛋白质定位、蛋白质结构或蛋白质动力学等领域中的问题。近年来，在中国蛋白质组学项目驱动下，计算蛋白质组学的研究发展迅速。</p>
<p>在此背景下，中国科学院计算技术研究所pFind团队发起并在北京组织召开了首届中国计算蛋白质组学研讨会。自2010年起，CNCP会议基本保持两年一届的传统，迄今已成功举办五届。为了继续推动中国的计算蛋白质组学研究，促进国内蛋白质组学及其他相关领域的学术交流，经CNCP组委会讨论商定，第六届中国计算蛋白质组学研讨会(CNCP-2021)将于2021年8月25日至26日在上海举办。</p>
<p>CNCP办会宗旨是学术优先、其他从简。办会方式为只设邀请报告，免收大会注册费。此次25位报告人均由领域内的资深学者和往届的报告人共同推荐产生，其中大多数报告人为首次登上CNCP讲坛，这其中既包括若干资深专家，也包括几位刚刚回国工作的年轻PI和刚刚毕业不久的优秀PhD。会议详情请关注后续通知。</p>
{% endblock %}
