{% extends 'base.html' %}

{% block content %}
<h2>会议日程</h2>

<b>☞点击报告跳转至详细介绍</b>

<section class="schedule">
    <h3>2021年8月25日上午</h3>
    <table>
        <tr>
            <th class="time">时间</th>
            <th class="title">题目</th>
            <th class="name">报告人</th>
            <th class="affiliation">单位</th>
        </tr>
        <tr>
            <td class="time">09:00-09:10</td>
            <td class="event" colspan="3">开幕</td>
        </tr>
        <tr>
            <td class="time">09:10-09:20</td>
            <td class="event" colspan="3">合影</td>
        </tr>
        <tr>
            <td class="session">Session 1</td>
            <td class="host" colspan="3">主持人：迟浩</td>
        </tr>
        <tr>
            <td class="time">09:20-09:50</td>
            {{ items.chenpeng }}
        </tr>
        <tr>
            <td class="time">09:50-10:20</td>
            {{ items.tanminjia }}
        </tr>
        <tr>
            <td class="time">10:20-10:30</td>
            <td class="event" colspan="3">休息</td>
        </tr>
        <tr>
            <td class="session">Session 2</td>
            <td class="host" colspan="3">主持人：谭敏佳</td>
        </tr>
        <tr>
            <td class="time">10:30-11:00</td>
            {{ items.chenshunxing }}
        </tr>
        <tr>
            <td class="time">11:00-11:30</td>
            {{ items.huanghe }}
        </tr>
        <tr>
            <td class="time">11:30-12:00</td>
            {{ items.zhuli }}
        </tr>
    </table>
</section>

<section class="schedule">
    <h3>2021年8月25日下午</h3>
    <table>
        <tr>
            <th class="time">时间</th>
            <th class="title">题目</th>
            <th class="name">报告人</th>
            <th class="affiliation">单位</th>
        </tr>
        <tr>
            <td class="time">13:30-13:45</td>
            <td class="title">LCMS等常用分析仪器供气需求及方式选择简介</td>
            <td class="name">孙金荣</td>
            <td class="affiliation">上海析维医疗科技有限公司</td>
        </tr>
        <tr>
            <td class="time">13:45-14:00</td>
            <td class="title">PaSER解蛋白质组学大数据解析之困</td>
            <td class="name">刘先明</td>
            <td class="affiliation">布鲁克（北京）科技有限公司</td>
        </tr>
        <tr>
            <td class="session">Session 3</td>
            <td class="host" colspan="3">主持人：秦伟捷</td>
        </tr>
        <tr>
            <td class="time">14:00-14:30</td>
            {{ items.chenxing }}
        </tr>
        <tr>
            <td class="time">14:30-15:00</td>
            {{ items.dingming }}
        </tr>
        <tr>
            <td class="time">15:00-15:30</td>
            {{ items.liyanchang }}
        </tr>
        <tr>
            <td class="time">15:30-15:45</td>
            <td class="event" colspan="3">休息</td>
        </tr>
        <tr>
            <td class="session">Session 4</td>
            <td class="host" colspan="3">主持人：李衍常</td>
        </tr>
        <tr>
            <td class="time">15:45-16:15</td>
            {{ items.zhangying }}
        </tr>
        <tr>
            <td class="time">16:15-16:45</td>
            {{ items.qinweijie }}
        </tr>
        <tr>
            <td class="time">16:45-17:15</td>
            {{ items.sunshiwei }}
        </tr>
        <tr>
            <td class="time">17:15-17:45</td>
            {{ items.xiayu }}
        </tr>
    </table>
</section>

<section class="schedule">
    <h3>2021年8月26日上午</h3>
    <table>
        <tr>
            <th class="time">时间</th>
            <th class="title">题目</th>
            <th class="name">报告人</th>
            <th class="affiliation">单位</th>
        </tr>
        <tr>
            <td class="session">Session 5</td>
            <td class="host" colspan="3">主持人：杨明坤</td>
        </tr>
        <tr>
            <td class="time">09:00-09:30</td>
            {{ items.tianruijun }}
        </tr>
        <tr>
            <td class="time">09:30-10:00</td>
            {{ items.jiangying }}
        </tr>
        <tr>
            <td class="time">10:00-10:30</td>
            {{ items.zhouhu }}
        </tr>
        <tr>
            <td class="time">10:30-10:40</td>
            <td class="event" colspan="3">休息</td>
        </tr>
        <tr>
            <td class="session">Session 6</td>
            <td class="host" colspan="3">主持人：周虎</td>
        </tr>
        <tr>
            <td class="time">10:40-11:10</td>
            {{ items.xielu }}
        </tr>
        <tr>
            <td class="time">11:10-11:40</td>
            {{ items.yangmingkun }}
        </tr>
        <tr>
            <td class="time">11:40-12:10</td>
            {{ items.liuzexian }}
        </tr>
    </table>
</section>

<section class="schedule">
    <h3>2021年8月26日下午</h3>
    <table>
        <tr>
            <th class="time">时间</th>
            <th class="title">题目</th>
            <th class="name">报告人</th>
            <th class="affiliation">单位</th>
        </tr>
        <tr>
            <td class="time">13:30-13:45</td>
            <td class="title">AssayMAP Bravo工作站为蛋白质组学样品前处理提供自动化解决方案</td>
            <td class="name">万晓桢</td>
            <td class="affiliation">安捷伦科技（中国）有限公司</td>
        </tr>
        <tr>
            <td class="time">13:45-14:00</td>
            <td class="title">MS role in current pandemic--Proteomic techniques in the study of COVID-19</td>
            <td class="name">杨湘云</td>
            <td class="affiliation">赛默飞世尔科技（中国）有限公司</td>
        </tr>
        <tr>
            <td class="session">Session 7</td>
            <td class="host" colspan="3">主持人：乔亮</td>
        </tr>
        <tr>
            <td class="time">14:00-14:30</td>
            {{ items.tangchun }}
        </tr>
        <tr>
            <td class="time">14:30-15:00</td>
            {{ items.lixueming }}
        </tr>
        <tr>
            <td class="time">15:00-15:30</td>
            {{ items.zhaoqun }}
        </tr>
        <tr>
            <td class="time">15:30-16:00</td>
            {{ items.zhengjie }}
        </tr>
        <tr>
            <td class="time">16:00-16:15</td>
            <td class="event" colspan="3">休息</td>
        </tr>
        <tr>
            <td class="session">Session 8</td>
            <td class="host" colspan="3">主持人：赵群</td>
        </tr>
        <tr>
            <td class="time">16:15-16:45</td>
            {{ items.qiaoliang }}
        </tr>
        <tr>
            <td class="time">16:45-17:15</td>
            {{ items.shenhuali }}
        </tr>
        <tr>
            <td class="time">17:15-17:45</td>
            {{ items.shuiwenqing }}
        </tr>
        <tr>
            <td class="time">17:45-18:00</td>
            <td class="title">闭幕</td>
            <td class="name">徐平</td>
            <td class="affiliation">国家蛋白质科学中心（北京）</td>
        </tr>
    </table>
</section>
{% endblock %}
