{% extends 'base.html' %}

{% block content %}
<h2>特邀专家</h2>
<section class="speaker-nav">
    {% for k, item in items.items() %}
    <span><a href="#{{ item.id }}">{{ item.name }}</a></span>
    {% endfor %}
</section>

{% for k, item in items.items() %}
<section class="speaker" id="{{ k }}">
    <div class="bio">
        <img src="/doc/photo/{{ k }}.png"/>
        <div class="name">{{ item.name }}</div>
        <div class="affiliation">{{ item.affiliation }}</div>
        <div class="links">
            <a href="{{ item.url }}">简介</a>
            {% if item.slides %}
            <span> | </span>
            <a href="{{ item.slides }}">幻灯片</a>
            {% endif %}
            {% if item.video %}
            <span> | </span>
            <a href="{{ item.video }}">视频</a>
            {% endif %}
        </div>
    </div>
    <div class="talk">
        {% if item.title %}
        <h3>{{ item.title }}</h3>
        {% endif %}
        {% if item.abstract %}
        <h4>Abstract:</h4>
        {{ item.abstract }}
        {% endif %}
        {% if item.keywords %}
        <h4>Keywords:</h4>
        {{ item.keywords }}
        {% endif %}
    </div>
</section>
{% endfor %}
{% endblock %}
